 /************** CSS Reset **************/
 html {
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
   font-weight: normal;
   overflow-x: hidden;
 }

 ol,
 ul {
   list-style: none;
 }

 img {
   max-width: 100%;
   height: auto;
 }

 button {
   border: none;
   cursor: pointer;
 }

 /************** End CSS Reset **************/


 body {
   /* background-color: blue; */
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   /* overflow: hidden; */
 }

 /* #container {
  background-color: blue; 
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
 } */



 /************** Slider Styles **************/


 #slider-controls {
   margin-top: 1%;
   /* height: 5%; */
   /* background-color: red; */
   display: flex;
   justify-content: center;
   gap: 3%;

 }

 .slider-packets {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .slider-label {
   font-family: "IBM Plex Mono";
   font-size: 0.7vw;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
 }

 /* Base slider track */
 .slider {
   appearance: none;
   width: 6vw;
   height: 0.7vw;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
 }

 .slider:hover {
   opacity: 1;
   background-color: #FFCBD7;
 }

 .slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 0.7vw;
   height: 0.7vw;
   background: #000000;
   cursor: pointer;
 }

 .slider-value {
   font-family: "IBM Plex Mono";
   font-size: 0.65vw;
   font-weight: 700;
   /* text-transform: uppercase; */
   text-align: center;
   color: #000000;
 }

 #img-text-switch {
   border-radius: 0;
   width: 5vw;
   background-color: grey;
   color: whitesmoke;
   font-family: 'IBM Plex Mono';
   text-transform: uppercase;
   font-size: 0.65vw;
   font-weight: 400;
   text-align: center;
   opacity: 0.7;
 }

 #img-text-switch:hover {
   opacity: 1;
 }



 /************** End Slider Styles **************/


 #kinetic-type {
   width: 100vw;
   height: 80vh;

   display: flex;
   justify-content: center;
   align-items: center;
 }



 /************** Footer Styles **************/

 #img-footer {
   display: none;
   justify-content: center;
   align-items: center;
   gap: 2%;
 }

 .upload-input {
   font-family: 'IBM Plex Mono', monospace;
   background-color: #e0e0e0;
   color: black;
   border: none;
   border-radius: 0;
   padding: 6px 10px;
   cursor: pointer;
   opacity: 0.8;
   box-sizing: border-box;
 }

 .upload-input:hover {
   opacity: 1;
 }

 #img-white-bg, #img-fill-canvas {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 0.7vw;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.7;
    color: whitesmoke;

    width: 6vw;
    height: 1.25vw;
    background-color: grey;
 }

 #img-white-bg:hover, #img-fill-canvas:hover {
    opacity:1;
 }

 #footer {
   display: flex;
   justify-content: center;
   align-self: baseline;
   margin-bottom: 0;
   gap: 3%;
 }

 .text-packets {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
 }

 #main-text {
   text-align: left;
   font-family: "IBM Plex Mono";
   font-weight: 400;
   font-size: 0.7vw;

   /* text area formating */

   border: none;
   background-color: #d3d3d3;
   opacity: 0.7;
   resize: none;
 }

 #main-text:hover {
   opacity: 1;
 }


 .text-label {
   text-align: left;
   font-family: "IBM Plex Mono";
   font-weight: 400;
   font-size: 0.6vw;
   color: rgb(100, 100, 100);
 }

 #text-sliders {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;

 }

 #text-options {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   gap: 0.1vw;
 }

 .options {
   border-radius: 0;
   border: none;
   width: 6vw;
   background-color: #d3d3d3;
   opacity: 0.7;
   appearance: none;
   cursor: cell;

   font-family: 'IBM Plex Mono';
   color: black;
   padding-left: 0.4vw;
   font-size: 0.7vw;
 }

 .options:hover {
   opacity: 1;
 }


 #footnote {
   margin-top: auto;
   /* padding-bottom: 0.5vw;   */
   display: flex;
   /* background-color: red; */
   width: 100%;
   
   justify-content: center;
   align-self: center;
   justify-self: flex-end;
   padding-top: 1.7vw;

   font-family: 'IBM Plex Mono';
   font-size: 0.55vw;
   font-weight: 400;
   color: rgb(100, 100, 100);
 }

/* ////////////////////Prevent Shrink//////////////////////////////// */

 .slider-label,
 .slider-value,
 .text-label,
 .options,
 #img-white-bg,
 #img-fill-canvas,
 #img-text-switch,
 #main-text {
   font-size: clamp(10px, 0.7vw, 14px);
 }


 #container {
   min-width: 540px;
 }